@model IEnumerable<HW_20211105.Models.TblStaff>;

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <partial name="_Sidebar" />
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <partial name="_Topbar" />
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                <p class="mb-4">
                    DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
                </p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a asp-action="Create" class="m-0 font-weight-bold text-primary">Create New</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.Name )</th>
                                        <th> @Html.DisplayNameFor(model => model.Department )</th>
                                        <th> @Html.DisplayNameFor(model => model.Title )</th>
                                        <th> @Html.DisplayNameFor(model => model.Age )</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.Name )</th>
                                        <th> @Html.DisplayNameFor(model => model.Department )</th>
                                        <th> @Html.DisplayNameFor(model => model.Title )</th>
                                        <th> @Html.DisplayNameFor(model => model.Age )</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @item.Name </td>
                                            <td> @item.Department </td>
                                            <td> @item.Title </td>
                                            <td> @item.Age </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Logout Modal-->
<partial name="_LogoutModal" />

@section Scripts{
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
}


